@page "/"
@using Microsoft.CST.OAT.Blazor.Components
@using Microsoft.DevSkim.CLI.Options
@using BindingFlags = System.Reflection.BindingFlags
@using CommandLine
@using Microsoft.ApplicationInspector.RulesEngine
@using Microsoft.DevSkim.BlazorOptionsConfigurator.Components
@using System.Text.Json
@using System.Text.Json.Serialization
<!-- <Inputs.ObjectInput id="SerializedOptionsObject" Object="@AppState.commandOptions" onChangeAction="RefreshPage"/> -->
@inject IJSRuntime JSRuntime
<button @onclick="Export">Export</button>

@foreach (var property in typeof(SerializedAnalyzeCommandOptions).GetProperties())
{
    var attrs = property.GetCustomAttributes(true).OfType<OptionAttribute>().FirstOrDefault();
    if (attrs is not null && attrs.LongName != "source-code")
    {
        var nameTouse = !string.IsNullOrEmpty(attrs.ShortName) ? !string.IsNullOrEmpty(attrs.LongName) ? $"-{attrs.ShortName} | --{attrs.LongName}" : $"-{attrs.ShortName}" : $"--{attrs.LongName}";
        <div>
            <p><b>@nameTouse</b>: @attrs.HelpText</p>
            @if (property.PropertyType.Equals(typeof(string)))
            {
                <Microsoft.CST.OAT.Blazor.Components.Inputs.StringInput id="@nameTouse" Object="opts" SubPath="@property.Name" placeholder="value for string"/>
            }
            @if (property.PropertyType.Equals(typeof(bool)))
            {
                <Microsoft.CST.OAT.Blazor.Components.Inputs.BoolInput id="@nameTouse" Object="opts" SubPath="@property.Name" />
            }
            @if (property.PropertyType.Equals(typeof(Serilog.Events.LogEventLevel)))
            {
                <Microsoft.CST.OAT.Blazor.Components.Inputs.EnumInput id="@nameTouse" Object="opts" SubPath="@property.Name" type="typeof(Serilog.Events.LogEventLevel)" />
            }
            @* @if (property.PropertyType.Equals(typeof(IDictionary<string, List<string>>))) *@
            @* { *@
            @*     <Microsoft.CST.OAT.Blazor.Components.Inputs.DictionaryObjectObject id="wat" Object="opts" SubPath="@property.Name" dictionaryType="property.PropertyType" /> *@
            @* } *@
            @if (property.PropertyType.Equals(typeof(IEnumerable<string>)))
            {
                <EnumerableStringInput id="@nameTouse" Object="opts" SubPath="@property.Name" />
            }
            @if (property.PropertyType.Equals(typeof(IEnumerable<Confidence>)))
            {
                <EnumerableConfidenceInput id="@nameTouse" Object="opts" SubPath="@property.Name" />
            }
            @if (property.PropertyType.Equals(typeof(IEnumerable<Severity>)))
            {
                <EnumerableSeverityInput id="@nameTouse" Object="opts" SubPath="@property.Name" />
            }
            </div>
    }
}
@code{
    public Action refreshPage => () => this.StateHasChanged();
    public SerializedAnalyzeCommandOptions opts => AppState.commandOptions;


    public async void Export()
    {
        await JSRuntime.InvokeAsync<object>("saveFile","DevSkimOptions.json",JsonSerializer.Serialize(opts, new JsonSerializerOptions(){Converters = { new JsonStringEnumConverter() }, WriteIndented = true})); 
    }
}